@page
@model GreenLight.Pages.IndexModel
@{
    ViewData["Title"] = "Green Light";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Model.todayMenu.MenuPhotoUrl" target="_blank">메뉴 사진보기</a>
    <p>@Model.todayMenu.Menu</p>
</div>
